body{
	background: #9ACCCD;
}

#contenedor{
	width: 900px;
	margin: auto;
	border-width: 1px;
	border-color: red;
	border-style: solid;
	background: #AAAAAA;
	margin-top: 30px;
}

#cabecera{
	text-align: center;
	padding: 30px;
	height: 100px;
	background: #8FD8A0;
}

#sidebar-right{
	float: right;
	padding: 10px;
	height: 400px;
	width: 170px;
	background: #CBD890;
}

#sidebar-left{
	float: left;
	padding: 10px;
	height: 400px;
	width: 170px;
	background: #CBD890;
}

#contenido{
	text-align: center;
	float: left;
	padding: 10px;
	min-height: 600px;
	width: 500px;
	background: #DACC8F
}

#pie{
	height: 20px;
	clear: both;
	text-align: center;
	background: #8FD8A0;
}