#recaudacion{
	float: left;
	margin-left: 160px;
}
#meta{
	float: left;
	margin-left: 30px;
}
#cantidad{
	float: left;
	margin-left: 290px;
}
#barrainformativa{
	float: left;
	margin-left:160px;
}
#boton{
	float:left;
	margin-left:250px;
}



