
.contenidoVoluntario{
	word-wrap: break-word; 
	float: left;
	margin: 40 px;
	border-color: black;
	padding: 15px;
	height: 140px;
	width: 90%;
	margin-top: 2%;
}


.imagenUsuario img{
	float: left;
	margin-left: 30px;
	margin-top: 5px;
	width: 100px;
	height: 100px;
}

.nombreUsuario {
    float: left;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
}

.boton {
    margin-top: 5%;
    margin-left: 15%;
    float: left;
    display: block;
    align-items: center;
    border-radius: 10px;
}

.boton button{
	background-color:#A9A9A9;
	border:none;
	border-radius: 4px;
	color: black;
    padding: 10px 16px;
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
}

.boton button:hover{
	background-color: #bfbfbf;
}

.cajaTitulos{
    margin-left: 25%;
    margin-right: -10%;
    margin-top: 4%;
    float: left;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
}


@media screen and (max-width:800px ) {
	/*Poner aqui codigo responsive*/
}