#datos{
	float: center;
}
#recaudado{
	float:left;
}

progress{
	float: left;
	background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
	width:380px;
	height: 20px;
}
#datoscantidad{
	float: right;
	display: inline-block;
}

