.columnaIzda{
	float: left;
	text-align: center;
	width: 70%;
	margin: 20px;
	padding: 20px;
	background-color: #bfbfbf;
}
.columnaIzda img{
	border: 1px solid black;
	/*hacemos que las imagenes siempre tengan el mismo tamaño, evitando imagenes muy grandes*/
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;

}
.columnaDcha{
	float: left;
	text-align: center;
	font-weight: bold;
	border-left: 1px solid #196c96;
	width:15%;
	margin-top: 20px;
	margin-left: -20px;
	padding: 20px;
	background-color: #bfbfbf;
}
.columnaDcha h3{
	margin:0px;
}
.columnaDcha p{
	display: inline-block;
}
.columnaDcha form{
	display: inline-block;
}
.columnaDcha button{
	margin-top: 5px;
	background-color: #3399ff;
	border: none;
	border-radius: 4px;
	color: white;
    padding: 10px 16px;
    text-align: center;
    font-size: 16px;
}
.columnaDcha button:hover{
	background-color: #66b3ff;
	border: 1px solid black;
}


